.logo{
    margin: 5px 10px;
    font-size: 100rem;
}
.icon{
    width: 2rem;
    height: auto;
    margin: 1rem;
    position: relative;
    box-shadow: 0px 3px 3px #3E3E3E;
    border-radius:100px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

#sidenav-overlay{
    z-index: 996 !important;
}
.hov:hover{
    font-size: 1.10rem;
}
/* @media screen and (max-width: 480px) {
    .icon{
        width: 2rem;
        height: auto;
        margin: 15px 10px;
        top: 50%;
        position: relative;
    }
} */