<!doctype html>
<html>
    <head>
        <title>{{base_title}}</title>
        <style>
            html, body{margin-top: 1rem; margin-left: 10rem; margin-right: 10rem;
                font-family: Arial, Helvetica, sans-serif;}
            a{text-decoration: none; color:blue; margin-right: 1rem;}
            a:visited{color:blue;}
            .error{color:red;}
            .info{color:green}
            .header{text-align: left;}
        </style>
    </head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/blog">All Posts</a>
        <a href="/newpost">New Post</a>
    </nav>
    <h1 class='header'>{{ header }}</h1>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% for class, message in messages %}
        <span class='{{class}}'>{{ message }}</span>
    {% endfor %}
    {% endwith %}
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>