{% extends 'base.html' %}
{% block content %}
<form action="/signup" method="post">
    <table>
        <tr>
                <td>
                    <label for="username">Username</label>
                    <input id='username' name="username" type="text" value="{{ username }}">
                    <span class="error">{{ username_err }}</span>
                </td>
            </tr>
        <tr>
            <td>
                <label for="email">Email</label>
                <input id='email' name="email" type="text" value="{{ email }}">
                <span class="error">{{ email_err }}</span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Password</label>
                <input id='password' name="password" type="password">
                <span class="error">{{ password_err }}</span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="verify">Verify Password</label>
                <input id='verify' name="verify" type="password">
                <span class="error">{{ verify_err }}</span>
            </td>
        </tr>
    </table>
    <button class="btn cyan waves-effect waves-light" type="submit" name="action">Signup</button>
</form>
<p>Already registered? <a href="/login">Login</a></p>
{% endblock %}