{% extends 'base.html' %}
{% block content %}
<form action="/register" method="post">
    <table>
        <tr>
            <td><label for="email">Email</label></td>
            <td>
                <input id='email' name="email" type="text" value="{{ email }}">
                <span class="error">{{ email_err }}</span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input id='password' name="password" type="password">
                <span class="error">{{ password_err }}</span>
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input id='verify' name="verify" type="password">
                <span class="error">{{ verify_err }}</span>
            </td>
        </tr>
    </table>
    <input type="submit" value="Signup">
</form>
<p>Already registered? <a class='link' href="/login">Login</a></p>
{% endblock %}